.g-cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: exclusion;
  pointer-events: none;
  user-select: none;
  backface-visibility: hidden;
  z-index: 99999999;

  &_hide {
    opacity: 0;
    transition: width .6s ease,
    height .6s ease,
    opacity .6s ease;
  }

  &__point {
    background: #fff;
    border-radius: 100%;
    backface-visibility: hidden;
    will-change: transform;
    transition: .3s height, .3s width;
  }

  &_medium {
    & .g-cursor__point{
      height: 50px;
      width: 50px;
    }
  }
  &_large {
    & .g-cursor__point{
      height: 100px;
      width: 100px;
    }
  }
  &_default {
    & .g-cursor__point{
      height: 20px;
      width: 20px;
    }
  }
  &_hidden {
    & .g-cursor__point{
      display: none;
    }
  }
  &_small {
    & .g-cursor__point{
      height: 25px;
      width: 25px;
    }
  }
}

.cursor-magnet{
  position: relative;
  z-index: 99;
  transform: translate(0, 0);
  transition: .2s;
  &__trigger{
    position: absolute;
    z-index: -1;
    padding: 100px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
  }
}
