.footer{
  width: 100%;
  padding-bottom: 40px;
  &__hr{
    width: 100%;
    border: 1px solid #323232;
    margin-bottom: 40px;
  }
  &__block{
    margin-right: 100px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left-block{
    display: flex;
    align-items: center;
  }
  &__center-block{
    display: flex;
  }
  &__right-block{
    display: flex;
    flex-direction: column;
  }
  &__logo{
    width: 30px;
    & img {
      max-width: 100%;
      height: auto;
    }
  }
  &__copyright{
    margin-left: 20px;
  }
  &__address-item{
    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__city{
    font-weight: 600;
  }
  &__phone{
    margin-top: 10px;
  }
  &__socials{
    display: flex;
    justify-content: flex-end;
    margin: 0 -10px;
  }
  &__email{
    margin-top: 10px;
  }
  &__social-item{
    margin-right: 10px;
  }
}

@media screen and(max-width: 1400px){
  .footer{
    &__content{
      flex-wrap: wrap;
    }
    &__center-block{
      display: flex;
      justify-content: space-between;
      order: 3;
      margin-right: 0;
      width: 100%;
      margin-top: 20px;
    }
  }
}


@media screen and(max-width: 800px){
  .footer{
    &__content{
    }
    &__center-block{
      text-align: center;
      order: 2;
      flex-direction: column;
      align-self: center;
      justify-self: center;
    }
    &__left-block{
      justify-content: space-between;
      margin-top: 30px;
      margin-right: 0;
      width: 100%;
      order: 3;
    }
    &__right-block{
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    &__socials{
      margin: 0;
    }
    &__email{
      margin-top: 0;
    }
    &__address-item{
      margin-top: 20px;
      margin-right: 0;
    }
    &__address-item:first{
      margin-top: 0;
    }
  }
}