  .header {
    display: flex;
    align-items: center;
    padding: 35px 0;
    color: $white;
    position: absolute;
    width: 100vw;
    z-index: 999;
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
    &__logo{
      margin-right: auto;
      transition-delay: .6s;
      transform: translateY(-20px);
      opacity: 0;
      & path {
        transition-duration: $t-link-duration;
      }
      &:hover > path{
        fill: $t-link-color;
        cursor: pointer;
      }
    }
    &-nav{
      margin-right: 250px;
      &__links{
        display: flex;
        list-style: none;
        text-transform: uppercase;
        justify-content: space-between;
        font-size: 14px;
        padding: 0;
      }
      &__link {
        margin-left: 50px;
        opacity: 0;
        transform: translateY(-20px);
        transition: .5s;
        & a {
          color: $white;
          font-weight: 300;
          letter-spacing: 0.06rem;
          text-decoration: none;
          cursor: pointer;
          transition: opacity .25s;
          &:hover{
            opacity: .5;
          }
        }
        &:first-child{
          margin-left: 0;
          transition-delay: .15s;
        }
        &:nth-child(2){
          transition-delay: .3s;  
        }
        &:nth-child(3){
          transition-delay: .45s;
        }
      }
    }
  }

  @media screen and (max-width: 800px){
    .header {
      &__nav{
        display: none;
      }
    }
  }