.menu{
  display: flex;
  justify-content: flex-end;
  &__btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 10px;
    cursor: pointer;
    z-index: 999;
    transform: translateY(-20px);
    transition: transform .6s, opacity .6s;
    opacity: 0;
    transition-delay: .6s;
    & span{
      display: block;
      transform: rotate(0);
      transition: transform .6s;
      width: 100%;
      height: 2px;
      border-bottom: 2px solid $white;
      transform-origin: 34%;
    }
  }
  &__box{
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: height 0s,z-index 0s;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 0;
    height: 100%;
  }
  &-nav{
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    align-items: center;
    display: flex;
    margin-right: 25px;
    margin-bottom: 25px;
    transition: transform .3s cubic-bezier(.55,.055,.675,.19),opacity .3s cubic-bezier(.55,.055,.675,.19);
    transform: translate3d(100px,100px,0) skewY(-10deg);
    opacity: 0;
    &__title{
      display: table-caption;
      display: -ms-grid;
      font-size: 42px;
      font-weight: 800;
      width: min-content;
      -ms-grid-columns: min-content;
    }
    &__links-list{
      list-style: none;
      padding: 0;
      margin-left: 50px;
      & li {
        margin-top: 10px;
        &:first-child{
          margin-top: 0;
        }
      }
    }
    &__divider{
      width: 38.4px;
      margin-left: 20px;
      height: 100px;
      opacity: .5;
    }
    &__link{
      color: $white;
      font-size: 14px;
      font-weight: 200;
      text-decoration: none;
    }
    &:nth-child(1){
      transition-delay: .125s;
    }
    &:nth-child(2){
      transition-delay: .1s;
    }
    &:nth-child(3){
      transition-delay: .075s;
    }
    &:nth-child(4){
      transition-delay: .05s;
    }
    &:nth-child(5){
      transition-delay: .025s;
    }
    &:nth-child(6){
      transition-delay: 0s;
    }
  }
  &-divider{
    display: flex;
    justify-content: flex-end;
    &__line {
      width: 2px;
      background: $white;
      transform: skewX(-20deg);
      transform-origin: top right;
    }
  }
  &__underlay{
    width: 100%;
    height: 100%;
    background: darken(#2C2A2A, 5%);
    opacity: .9;
  }
  &__background{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 300vw;
    height: 300vh;
    backdrop-filter: blur(15px);
    transform-origin: right top;
    transform: rotate(-90deg);
    transition: transform .45s cubic-bezier(.55,.055,.675,.19);
    transition-delay: .2s;
  }
  &-footer{
    display: flex;
    &__col{
      margin-right: 60px;
      &:last-child{
        margin-right: 0
      }
    }
    &__row{
      opacity: 0;
      transition: transform .3s cubic-bezier(.55,.055,.675,.19),opacity .3s cubic-bezier(.55,.055,.675,.19);
      transform: translate3d(50px,50px,0) skewY(-10deg);
      &:nth-child(2n){
        margin-top: 20px;
      }
      &:nth-child(2n+1){
        transition-delay: .05s;
      }
    }
  }
  &__socials{
    display: flex;
  }
  &__social-item{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__city{
    display: flex;
    cursor: pointer;
    &-divider{
      width: 10px;
      margin: 0 15px;
    }
    &_selected{
      text-shadow: 0 0 1px $white, 0 0 1px $white;
    }
  }
  &_is-open {
    & .menu__btn span{
      transform: rotate(45deg);
    }
    & .menu__btn span:last-child {
      top: 0;
      transform: rotate(-45deg);
    }
    & .menu__box{
      pointer-events: all;
      z-index: 90;
      transition-delay: 0s;
    }
    & .menu__background {
      transform: translateZ(0) rotate(0deg);
      transition: transform .6s cubic-bezier(.4,0,0,1);
      transition-delay: 0s;
    }
    & .menu-item{
      transform: translateZ(0) skewY(0deg);
      transition: transform .6s cubic-bezier(.4,0,0,1),opacity .6s cubic-bezier(.4,0,0,1);
      opacity: 1;
      transition-delay: .2s;
      &:nth-child(1){
        transition-delay: .2s;
      }
      &:nth-child(2){
        transition-delay: .25s;
      }
      &:nth-child(3){
        transition-delay: .3s;
      }
      &:nth-child(4){
        transition-delay: .35s;
      }
      &:nth-child(5){
        transition-delay: .4s;
      }
      &:nth-child(6){
        transition-delay: .45s;
      }
    }
    & .menu-footer{
      &__row{
        transition: transform .6s cubic-bezier(.4,0,0,1),opacity .6s cubic-bezier(.4,0,0,1);
        transform: translateZ(0) skewY(0deg);
        opacity: 1;
        &:nth-child(2n+1){
          transition-delay: .45s;
        }
        &:nth-child(2n){
          transition-delay: .5s;
        }
      }
    }
  }
}