.slider {
  &-btn-next{
    cursor: pointer;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 300px;
    height: 800px;  
    z-index: 5;
    &__background{
      width: 100%;
      height: 100%;
      background: darken(#2C2A2A, 5%);
      transform-origin: bottom left;
      opacity: .85;
      transform: rotate(90deg);
      transition: background-color .75s, transform .6s .8s;
    }
    &:hover &__background{
      background: darken(#2C2A2A, 7%);
    }
    &__title{
      position: absolute;
      z-index: 10;
      bottom: 75px;
      right: 85px;
      font-size: 25px;
      font-weight: 100;
      transform: translateY(50px);
      transition: transform .5s .9s, opacity .5s .9s;
      opacity: 0;
      color: $white;
      text-transform: uppercase;
    }
  }
  &-static{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
  }
  &-mouse{
    opacity: 0;
    transform: translateY(100px);
    transition: transform .5s .9s, opacity .5s .9s;
    z-index: 999;
    &__wheel{
      animation: scroll 2s ease infinite;
    }
    @keyframes scroll {
      0% {
        transform: translateY(0px);
      }
      30% {
        transform: translateY(60px);
      }
    }
  }
}
.slide {
  color: $white;
  &__content{
    padding-top: 280px;
    transform: translateX(200px);
    transition: transform .5s .75s, opacity .5s .75s;
    opacity: 0;
    max-width: 800px;
  }
  &__title{
    pointer-events: none;
    margin-top: 30px;
    font-size: 90px;
    font-weight: 800;
    line-height: 80px;
  }
  &__subtitle{
    pointer-events: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.06rem;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }
  &__nav{
    position: relative;
    list-style: none;
    padding: 0;
    width: 380px;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 200px;
      background: $white;
      top: -100px;
      opacity: .5;
      left: -50px;
      transform: skewX(-23.3deg);
    }
    & li {
      margin-top: 10px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  &__link{
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    color: $white;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 0px;
      height: 2px;
      display: block;
      background: $white;
      border-radius: 10px;
      transition: ease-in-out 300ms;
    }
    &:hover::after {
      width: 100%;
    }
    &_active{
      cursor: default;
      font-weight: 600;
      font-size: 24px;
      &:hover::after{
        width: 0;
      }
    }
  }
  &__contact-us{
    pointer-events: none;
    opacity: .6;
    align-self: flex-end;
    letter-spacing: 0.06rem;
    transform: rotate(-90deg);
    position: relative;
    bottom: -20px;
    transform-origin: left top;
  }
  &-photo{
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 750px;
    cursor: pointer;
    transform: translateY(50%);
    transition: transform .5s, opacity .5s;
    opacity: 0;
    &__overlay{
      position: absolute;
      right: 0;
      transition: transform .5s;
      top: -5px;
      transform: translate(-10px, -10px);
      &:hover{
        transform: translate(0);
      }
    }
  }
}

.w-slider{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  &__background{
    width: 400px;
    margin-left: 150px;
    position: relative;
  }
  &__line{
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .5s;
    & svg {
      position: relative;
      height: 110vh;
      top: -2vh;
      width: 200%;
      left: -50%;
    }
    &_blue{
      background: #4784C3;
      & svg path {
        fill: #528ECC;
      }
    }
    &_yellow{
      background: #FFD542;
      & svg path {
        fill: #F4CC3E;
      }
    }
    &_purple{
      background: #8B326B;
      & svg path {
        fill: #843066;
      }
    }
    &_red{
      background: #DB0703;
      & svg path {
        fill: #CC100D;
      }
    }
    &_dark-yellow{
      background: #FBB91B;
      & svg path {
        fill: #FAB40C;
      }
    }
    &_dark-blue{
      background: #063F7D;
      & svg path {
        fill: #084384;
      }
    }
    &_gray{
      background: #3B3B3B;
      & svg path {
        fill: #3F3F3F;
      }
    }
  }
  & .active {
    .w-slider__background {
      transition-delay: .5s;
    }
    & .w-slider__line {
      transition-delay: .5s;
      height: 100vh;
    }
    .w-slider__rain{
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__rain{
    position: absolute;
    top: 5%;
    left: -15%;
    max-width: 200%;
    
    transform: translateY(-200vh);
    opacity: 0;
    transition: opacity .5s, transform 1s;
  }
  &__static{
    height: 100%;
    padding: 200px 0 100px 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    left: 0;
    right: 0;
  }
  &_active {
    .w-progress{
      &__line{
        transition: height 1s .5s;
        height: 100%;
      }
      &__number{
        transition: opacity .5s .55s, transform .5s .55s, top .5s;
        transform: none;
        opacity: 1;
      }
    }
  }
}

.w-progress{
  z-index: -1;
  display: flex;
  align-items: flex-start;
  &__line{
    position: relative;
    background: #fff;
    height: 0;
    width: 1px;
    transition: height .5s;
  }
  &__underline{
    width: 3px;
    height: 0;
    background: #fff;
    transition: height .5s;
    position: absolute;
    left: -2px;
  }
  &__number{
    position: relative;
    transform: translateY(-30px);
    padding: 0 15px;
    font-weight: 600;
    opacity: 0;
    font-size: 18px;
  }
}