.slider {
  &-btn-next{
    cursor: pointer;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 300px;
    height: 800px;
    z-index: 5;
    &__background{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: darken(#2C2A2A, 5%);
      transform: rotate(23deg);
      transform-origin: bottom left;
      transition: background-color .75s;
    }
    &__content{
      position: absolute;
      z-index: 10;
      bottom: 75px;
      right: 85px;
      font-size: 25px;
      font-weight: 100;
      color: $white;
      text-transform: uppercase;
    }
  }
}
.slide {
  color: $white;
  &__inner{
    opacity: 0;
    transform: translateX(-300px);
    transition: transform .5s .6s, opacity .5s .6s;
    padding-top: 300px;
    max-width: 800px;
  }
  &__title{
    pointer-events: none;
    margin-top: 30px;
    font-size: 90px;
    font-weight: 800;
    line-height: 80px;
  }
  &__subtitle{
    pointer-events: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.06rem;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }
  &__nav{
    position: relative;
    list-style: none;
    padding: 0;
    width: 380px;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 200px;
      background: $white;
      top: -100px;
      opacity: .5;
      left: -50px;
      transform: skewX(-23.3deg);
    }
    & li {
      margin-top: 10px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  &__link{
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    color: $white;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 0px;
      height: 2px;
      display: block;
      background: $white;
      border-radius: 10px;
      transition: ease-in-out 300ms;
    }
    &:hover::after {
      width: 100%;
    }
    &_active{
      cursor: default;
      font-weight: 600;
      font-size: 24px;
      &:hover::after{
        width: 0;
      }
    }
  }
  &__contact-us{
    pointer-events: none;
    opacity: .6;
    align-self: flex-end;
    letter-spacing: 0.06rem;
    transform: rotate(-90deg);
    position: relative;
    bottom: -20px;
    transform-origin: left top;
  }
}