.beige-theme{
  background: #E6E0D4;
  & .header {
    color: #939393;
  }
  & .header__logo path{
    fill: #939393;
  }
  & .header-nav__link a{
    color: #939393;
  }
  & .slide__title {
    color: #939393;
  }
  & .slide__subtitle {
    color: #939393;
  }
  & .menu__btn span{
    border-bottom: 2px solid #939393;
  }
  & .menu__underlay{
    background: #ccc5b7;
  }
  & .menu-item__link{
    color: #939393;
  }
  & .menu-divider__line{
    background: #939393;
  }
  & .menu__social-item svg path {
    fill: #939393;
  }
  & .slide{
    color: #939393;
  }
  & .slide__link{
    color: #939393;
    &::after{
      background: #939393;
    }
  }
  & .slide__nav::before{
    background: #939393;
  }
  & .slider-btn-next{
    &__background{
      background:  #939786;
    }
    &:hover .slider-btn-next__background{
      background: darken(#939786, 10%);
    }
  }
  & .slider-mouse svg path{
    stroke: #939786;
  }
}

.blue-theme{
  background:#0071B0;
  & .menu__underlay{
    background: darken(#0071B0, 5%);
  }

  & .slider-btn-next{
    &__background{
      background:  darken(#0071B0, 5%);;
    }
    &:hover .slider-btn-next__background{
      background: darken(#0071B0, 10%);
    }
  }
}

.purple-theme{
  background:#47466C;
  & .menu__underlay{
    background: darken(#47466C, 5%);
  }
  & .slider-btn-next{
    &__background{
      background:  darken(#47466C, 5%);;
    }
    &:hover .slider-btn-next__background{
      background: darken(#47466C, 10%);
    }
  }
}

.dark-theme{
  background: #2C2A2A;
  & .header {
    color: $white;
  }
  & .header__logo path{
    fill: $white;
  }
  & .header-nav__link a{
    color: $white;
  }
  & .slide__title {
    color: $white;
  }
  & .slide__subtitle {
    color: $white;
  }
  & .menu__btn span{
    border-bottom: 2px solid $white;
  }
  & .menu__underlay{
    background: darken(#2C2A2A, 5%);
  }
  & .menu-item__link{
    color: $white;
  }
  & .menu-divider__line{
    background: $white;
  }
  & .menu__social-item svg path {
    fill: $white;
  }
  & .slide{
    color: $white;
  }
  & .slide__link{
    color: $white;
    &::after{
      background:$white;
    }
  }
  & .slide__nav::before{
    background: $white;
  }
  & .slider-btn-next{
    &__background{
      background: #2C2A2A;
    }
    &:hover .slider-btn-next__background{
      background: darken(#2C2A2A, 10%);
    }
  }
  & .slider-mouse svg path{
    stroke: $white;
  }
}