.beige-theme{
  background: #E6E0D4;
  & .header {
    color: #939393;
  }
  & .header__logo path{
    fill: #939393;
  }
  & .header-nav__link a{
    color: #939393;
  }
  & .slide__title {
    color: #939393;
  }
  & .slide__subtitle {
    color: #939393;
  }
  & .menu__btn span{
    border-bottom: 2px solid #939393;
  }
  & .menu__underlay{
    background: #ccc5b7;
  }
  & .menu-item__link{
    color: #939393;
  }
  & .menu-divider__line{
    background: #939393;
  }
  & .menu__social-item svg path {
    fill: #939393;
  }
  & .slide{
    color: #939393;
  }
  & .slide__link{
    color: #939393;
    &::after{
      background: #939393;
    }
  }
  & .slide__nav::before{
    background: #939393;
  }
  & .slider-btn-next{
    &__background{
      background:  #939786;
    }
    &:hover .slider-btn-next__background{
      background: darken(#939786, 10%);
    }
  }
  & .slider-scroll__mouse path{
    stroke: #939786;
  }
  & .slider-scroll__finger path{
    fill: #939786;
  }
}

.yellow-theme{
  background:#F4D560;
  & .menu__underlay{
    background: #D9BC4E;
  }
  & .slider-btn-next{
    &__background{
      background: #D9BC4E
    }
    &:hover .slider-btn-next__background{
      background: darken(#D9BC4E, 5%);
    }
  }
  & .header {
    color: $black;
  }
  & .header__logo path{
    fill: $black;
  }
  & .header-nav__link a{
    color: $black;
  }
  & .slide__title {
    color: $black;
  }
  & .slide__subtitle {
    color: $black;
  }
  & .menu__btn span{
    border-bottom: 2px solid $black;
  }
  & .menu-item__link{
    color: $black;
  }
  & .menu-divider__line{
    background: $black;
  }
  & .menu__social-item svg path {
    fill: $black;
  }
  & .slide{
    color: $black;
  }
  & .slide__link{
    color: $black;
    &::after{
      background: $black;
    }
  }
  & .slide__nav::before{
    background: $black;
  }
  & .slider-scroll__mouse path{
    stroke: $black;
  }
  & .slider-scroll__finger path{
    fill: $black;
  }
}

.red-theme{
  background:#EC6262;
  & .menu__underlay{
    background: #AE4C4C;
  }
  & .slider-btn-next{
    &__background{
      background: #AE4C4C
    }
    &:hover .slider-btn-next__background{
      background: darken(#AE4C4C, 5%)
    }
  }
  & .slider-scroll__finger path{
    fill: $white;
  }
}